<div class="text-center">
  <h2>{{chat_name}}</h2>  
    <div class="form update-prompt-form">
      <div class="chat-prompt">
        <h4 class="user">{{user.user}}</h4>
        <p class="text-area">{{chat_prompt}}</p>
      </div>
      <div class="chat-response">
        <h4 class="user">Chatstrology - Powered by chatGPT</h4>
        <p class="text-area">{{chat_response_answer}}</p>
        <p class="text-area">{{chat_response_analysis}}</p>
        <p class="text-area">{{chat_response_context}}</p>
        <p class="text-area">{{chat_response_affirmation}}</p>
      </div>
    </div>
</div>

<script src="/js/chat.js"></script> 
