<!-- Loop over each object in the chatgpt array -->
{{#each chats as |chat| }}
<div class="row mb-4 chatgpt">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/chat/{{chat.id}}">{{chat.chat_name}}</a>
    </h2>

    <p>Created by {{chat.user.user}} on {{format_date chat.date_created}}</p>
  </div>
  <div class="col-md-7 response">
    <p>
      {{chat.chat_response_answer}}..
    </p>
  </div>
</div>
{{/each}}
